<h2>Loan Officer Info</h2>
<table border="0">
    <tr>
        <td>First Name:</td>
        <td>{{ queue.getUser().getFirstName() }}</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>{{ queue.getUser().getLastName() }}</td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>{{ queue.getUser().getTitle() }}</td>
    </tr>
    <tr>
        <td>Sales Director:</td>
        <td>{{ queue.getUser().getSalesDirector() }}</td>
    </tr>
    <tr>
        <td>Sales Director Email:</td>
        <td>{{ queue.getUser().getSalesDirectorEmail() }}</td>
    </tr>
    <tr>
        <td>Lender:</td>
        <td>{{ queue.getUser().getLender() }}</td>
    </tr>
    <tr>
        <td>Primary Phone:</td>
        <td>{{ queue.getUser().getPhone() }}</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>{{ queue.getUser().getEmail() }}</td>
    </tr>
    <tr>
        <td>NMLS #:</td>
        <td>{{ queue.getUser().getNmls() }}</td>
    </tr>
</table>



<h2>Property address</h2>
<table border="0">
    <tr>
        <td>Property address:</td>
        <td>{{ queue.getAddress() }}</td>
    </tr>
    <tr>
        <td>MLS Number:</td>
        <td>{{ queue.getMlsNumber() }}</td>
    </tr>
    <tr>
        <td>Listing Price:</td>
        <td>{{ requestFlyer.getListingPrice() }}</td>
    </tr>
</table>

<h2>Realtor info</h2>
<table border="0">
    <tr>
        <td>Realtor:</td>
        <td>{{ realtor.getFirstName() }} {{ realtor.getLastName() }}</td>
    </tr>
    <tr>
        <td>Phone:</td>
        <td>{{ realtor.getPhone() }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ realtor.getEmail() }}</td>
    </tr>
    <tr>
        <td>BRE Number:</td>
        <td>{{ realtor.getBreNumber() }}</td>
    </tr>
    <tr>
        <td>Real Estate Agency:</td>
        <td>{{ realtor.getEstateAgency() }}</td>
    </tr>
</table>