<h2>Loan Officer Info</h2>
<table border="0">
    <tr>
        <td>First Name:</td>
        <td>{{ user.getFirstName() }}</td>
    </tr>
    <tr>
        <td>Last name:</td>
        <td>{{ user.getLastName() }}</td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>{{ user.getTitle() }}</td>
    </tr>
    <tr>
        <td>Sales Director:</td>
        <td>{{ user.getSalesDirector() }}</td>
    </tr>
    <tr>
        <td>Sales Director Email:</td>
        <td>{{ user.getSalesDirectorEmail() }}</td>
    </tr>
    <tr>
        <td>Lender:</td>
        <td>{{ user.getLender() }}</td>
    </tr>
    <tr>
        <td>Primary Phone:</td>
        <td>{{ user.getPhone() }}</td>
    </tr>
    <tr>
        <td>Email Address:</td>
        <td>{{ user.getEmail() }}</td>
    </tr>
    <tr>
        <td>NMLS #:</td>
        <td>{{ user.getNmls() }}</td>
    </tr>
</table>