<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ app.getConfigByName('name') }}</title>

    <!-- build:css < CSS_FILENAME > -->
        <link rel="stylesheet" href="/css/jquery-ui.structure.min.css" type="text/css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/all.min.css" type="text/css">
        <link rel="stylesheet" href="/css/ng-dialog.css" type="text/css">
        <link rel="stylesheet" href="/css/css.css" type="text/css">
        <link rel="stylesheet" href="/css/cropper.css" type="text/css">
    <!-- /build -->
</head>
<body>
    <div id="wrapper" ng-view><!-- --></div>

    <footer id="footer">
        <div class="container">
            <a class="hidden-xs" href="#"><img src="images/logo-footer.png" width="77" height="40" alt="firstREX"></a>
            <ul>
                <li><a href="http://rexhomebuyer.com/privacy-security/" target="_blank">Privacy Policy</a></li>
                <li><a href="http://rexhomebuyer.com/terms-of-use/" target="_blank">Terms of Use</a></li>
                <li><a href="http://rexhomebuyer.com/disclosures-2/" target="_blank">Disclosure</a></li>
            </ul>
        </div>
    </footer>
    <div class="waiting" id="waiting"><img src="/images/waiting.gif" width="32" height="32" alt=""></div>
    <script>
        var settings = {debug:            '{{ app.getConfigByName('debug') }}',
                        expiresTokenDays: '{{ app.getConfigByName('user', 'token.expire') }}',
                        requestTimeout:   15000, //15 seconds
                        firstRexHash:     '{{ (app.getConfigByName('firstrex', 'api', 'user')~':'~app.getConfigByName('firstrex', 'api', 'pass'))|ebase64 }}',
                        queue: {
                            state: {
                                listingFlyerPending: '{{ constant('\\LO\\Model\\Entity\\Queue::STATE_LISTING_FLYER_PENDING') }}',
                                requested: '{{ constant('\\LO\\Model\\Entity\\Queue::STATE_REQUESTED') }}',
                                approved: '{{ constant('\\LO\\Model\\Entity\\Queue::STATE_APPROVED') }}',
                                declined: '{{ constant('\\LO\\Model\\Entity\\Queue::STATE_DECLINED') }}'
                            },
                            type: {
                                flyer: '{{ constant('\\LO\\Model\\Entity\\Queue::TYPE_FLYER') }}'
                            }
                        }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-cookies.min.js"></script>
    <!-- script src="https://maps.googleapis.com/maps/api/js?key={{ app.getConfigByName('google', 'apiKey') }}&libraries=places"></script -->

    <!-- build:js < JS_FILENAME > -->
        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.tablesorter.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/service/helper.js"></script>
        <script src="/js/service/user.js"></script>
        <script src="/js/service/requestFlyer.js"></script>
        <script src="/js/service/property.approval.js"></script>
        <script src="/js/service/picture.js"></script>
        <script src="/js/service/headColumn.js"></script>
        <script src="/js/modules/dashboard.js"></script>
        <script src="/js/modules/authorize.js"></script>
        <script src="/js/modules/request.js"></script>
        <script src="/js/modules/user.js"></script>
        <script src="/js/modules/admin.js"></script>
        <script src="/js/cropper.js"></script>
        <script src="/js/ngDialog.0.3.7.js"></script>
    <!-- /build -->

    <script type="text/javascript">
        angular.element(document).ready(function(){
            angular.bootstrap(document, ['loApp']);
//            var script = document.createElement('script');
//            script.type = 'text/javascript';
//            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
//                    '&signed_in=true&libraries=places';
//            document.body.appendChild(script);
        });
    </script>
</body>
</html>